@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --card-max-width: 400px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url('./images/pattern-background-desktop.svg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain; 
    color: #303642;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    background-color: #fff;
    border-radius: 12px;
    max-width: var(--card-max-width);
    overflow: hidden;
    width: 100%;
}

.content {
    padding: 24px 48px;
}

.content > h1 {
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 8px;
    text-align: center;
}

.content > p {
    color: #999;
    margin-bottom: 24px;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
}

.info {
    flex: 1;
}

.info > .price {
    color: #999;
}

.info > .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.plan {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
}

.plan > .icon {
    height: 40px;
    padding-right: 18px;
}

.btn {
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.cancel {
    color: #777;    
}

.cancel:hover {
    color: #303642;
}

.submit {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    margin-bottom: 8px;
}

.submit:hover {
    background-color: hsl(224, 23%, 55%);
}

@media (max-width: 375.99px) {
    body {
        background-image: url('./images/pattern-background-mobile.svg');
    }
}